@import url("../block/navigation/navigation.css");
@import url("../block/header/header.css");
@import url("../block/guarantee/guarantee.css");

body {
    background-color: F7F9FB;
}

.page {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 1920px;
    min-width: 320px;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto Condensed";
    background-color: #f7f9fb;
}
